body {
    margin: 0 auto;
}

.container {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
}

.qr-card > .qr-code-section > img {
    width: 250px;
    border-radius: 10px;
}

.qr-card > .text-section {
    padding: 5px;
    font-size: 15px;
    font-family: Outfit, sans-serif;
    text-align: center;
}

.qr-card > .text-section > p:first-child {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
}

.qr-card > .text-section > p:last-child {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}